@model SalesWebMVC.Models.Seller   
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="d1-horizontal">
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit</a>
    <a asp-action="Index" class="btn btn-outline-info"> Back to list</a>
</div>